# https://squidfunk.github.io/mkdocs-material/getting-started/#installation
mkdocs-material==8.3.9
mkdocs-material-extensions==1.0.3 

# https://pygments.org/
Pygments== 2.12.0 

# https://facelessuser.github.io/pymdown-extensions/
pymdown-extensions==9.5

# https://github.com/mkdocstrings/mkdocstrings
mkdocstrings==0.19.0

# https://ai2business.github.io/mkdocstrings-sourcelink/
mkdocstrings-sourcelink==0.3.2

# https://github.com/fralau/mkdocs-mermaid2-plugin
mkdocs-mermaid2-plugin==0.6.0

# https://github.com/backstage/mkdocs-monorepo-plugin
mkdocs-monorepo-plugin==1.0.2

# https://github.com/nqkdev/mkdocs-include
mkdocs-include==1.0.0 

# https://github.com/jdoiro3/mkdocs-multirepo-plugin
mkdocs-multirepo-plugin==0.4.3

# https://github.com/fralau/mkdocs_macros_plugin
mkdocs-macros-plugin==0.7.0

# https://github.com/apenwarr/mkdocs-exclude
mkdocs-exclude==1.0.2

# https://github.com/chrieke/mkdocs-exclude-search
mkdocs-exclude-search==0.6.4

# https://github.com/datarobot/mkdocs-redirects
mkdocs-redirects==1.0.4

# https://github.com/midnightprioriem/mkdocs-autolinks-plugin
mkdocs-autolinks-plugin==0.6.0

# https://github.com/fiinnnn/mkdocs-mktemplate-plugin
mkdocs-mktemplate-plugin==1.0.1 

# https://github.com/rosscdh/mkdocs-markdownextradata-plugin
mkdocs-markdownextradata-plugin==0.2.5

# https://github.com/lukasgeiter/mkdocs-awesome-pages-plugin
mkdocs-awesome-pages-plugin==2.7.0

# https://github.com/christo-ph/mkdocs_build_plantuml
mkdocs-build-plantuml-plugin==1.7.4

# https://github.com/mikitex70/plantuml-markdown
plantuml-markdown==3.6.0

# https://github.com/mondeja/mkdocs-include-markdown-plugin
mkdocs-include-markdown-plugin==3.5.2

# https://github.com/zhaoterryy/mkdocs-pdf-export-plugin
mkdocs-pdf-export-plugin==0.5.10

# https://github.com/orzih/mkdocs-with-pdf
mkdocs-with-pdf==0.9.3

# https://github.com/derJD/python-mkblog
mkblog==1.2.0

# https://github.com/timvink/mkdocs-table-reader-plugin
mkdocs-table-reader-plugin==1.1.0

# https://github.com/soulless-viewer/mkdocs-video
mkdocs-video==1.3.0 

# https://pypi.org/project/mdx-include/
mdx-include==1.4.2 

# https://github.com/danielfrg/mkdocs-jupyter
# mkdocs-jupyter==0.17.3

# https://github.com/greenape/mknotebooks
# mknotebooks==0.7.0

# https://github.com/lyz-code/mkdocs-newsletter
# mkdocs-newsletter==0.3.1

# https://github.com/ultrabug/mkdocs-static-i18n
# mkdocs-static-i18n==0.17 

# https://github.com/mondeja/mkdocs-mdpo-plugin
# mkdocs-mdpo-plugin==0.0.14 

