## Luigi
luigi==3.0.3
SQLAlchemy==1.4.36 
mysql-connector-python==8.0.29 

## GreatExpectations
great-expectations==0.15.6
fsspec==2022.5.0 
s3fs==2022.5.0 

## Notebooks
ipython==8.3.0 
jupyter_client==7.3.1
jupyter_server==1.17.0
markdown==3.3.7
nbconvert==6.5.0 
nbformat==5.4.0 
pycurl==7.45.1 
statsd==3.3.0 
tornado==6.1
papermill==2.3.4 
papermill-report==2.0.5 