[data-md-color-scheme="r"] {
  --md-primary-fg-color:        #1B5FAF;
  --md-default-fg-color--light: #1B5FAF;
  --md-default-fg-color--dark:  #604270;
  --md-accent-fg-color:         #1B5FAF;

  --md-default-bg-color:        #FFFFFF;
  --md-typeset-a-color:         #B4B4B7;
}

[data-md-color-scheme="r-dark"] {
  --md-primary-fg-color:        #8492BA;
  --md-accent-fg-color:         #8492BA;
  
  --md-default-bg-color:        #3C3C3C;
  --md-default-fg-color--light: #8492BA;
  --md-typeset-color:           #FFFFFF;
  --md-typeset-a-color:         #B4B4B7;
}

