[data-md-color-scheme="k8s"] {
  --md-primary-fg-color:        #316CE6;
  --md-primary-fg-color--light: #7747A7;
  --md-primary-fg-color--dark:  #7747A7;
  --md-accent-fg-color:         #1040a1;

  --md-default-bg-color:        #FFFFFF;
  --md-typeset-a-color:         #303030;
}

[data-md-color-scheme="k8s-dark"] {
  --md-primary-fg-color:        #316CE6;
  --md-accent-fg-color:         #DF736A;
  
  --md-default-bg-color:        #232834;
  --md-default-fg-color--light: #E3EAF2;
  --md-typeset-color:           #E3EAF2;
  --md-typeset-a-color:         #E3EAF2;
}

