django==3.2.5
djangorestframework==3.13.1
django-filter==22.1
markdown==3.3.7
celery==5.2.7 
sqlalchemy==1.4.37 
gevent==21.12.0 
ipython_genutils
pyyaml==6.0
django-cors-headers==3.13.0
psutil==5.9.1 
whitenoise==6.2.0 
python-dotenv==0.20.0
django-drf-filepond==0.4.1
croniter==1.3.5
pyppeteer==1.0.2