# https://pypi.org/project/ipython/
ipython==7.27.0 
# https://pypi.org/project/prettyprinter/
prettyprinter==0.18.0
# https://github.com/antonbabenko/pre-commit-terraform
pre-commit==2.14.0
# https://github.com/pdoc3/pdoc
pdoc3==0.10.0
# https://timothycrosley.github.io/portray/
portray==1.7.0
# https://github.com/baverman/flameprof/
flameprof==0.4
# https://jiffyclub.github.io/snakeviz/
snakeviz==2.1.0
# https://github.com/joerick/pyinstrument
pyinstrument==3.4.2
# https://github.com/nvdv/vprof
vprof==0.38
# https://pypi.org/project/pylint-json2html/
pylint-json2html==0.3.0
# https://pypi.org/project/pytest-html-reporter/
pytest-html-reporter==0.2.6

poetry==1.1.6
black==21.5b2
isort==5.8.0
flake8==3.9.2
mypy==0.812
pytest==6.2.4
pytest-regressions==2.2.0
logzero==1.7.0
pylint==2.10.2

jupyter==1.0.0
