poetry==1.1.13

# https://pypi.org/project/ipython/
ipython==8.3.0 
jupyter==1.0.0

# https://pypi.org/project/prettyprinter/
prettyprinter==0.18.0
# https://github.com/antonbabenko/pre-commit-terraform
pre-commit==2.19.0 
# https://github.com/pdoc3/pdoc
pdoc3==0.10.0
# https://timothycrosley.github.io/portray/
portray==1.7.0
# https://github.com/baverman/flameprof/
flameprof==0.4
# https://jiffyclub.github.io/snakeviz/
snakeviz==2.1.1
# https://github.com/joerick/pyinstrument
pyinstrument==3.4.2
# https://github.com/nvdv/vprof
vprof==0.38
# https://pypi.org/project/pylint-json2html/
pylint-json2html==0.3.0
# https://pypi.org/project/pytest-html-reporter/
pytest-html-reporter==0.2.6

black==22.3.0
isort==5.10.1
flake8==4.0.1 
mypy==0.812
pytest==7.1.2 
pytest-regressions==2.3.1 
logzero==1.7.0
pylint==2.13.8

