[data-md-color-scheme="python"] {
  --md-primary-fg-color:        #1E415E;
  --md-primary-fg-color--light: #1E415E;
  --md-primary-fg-color--dark:  #1E415E;
  --md-accent-fg-color:         #ffda21;

  --md-default-bg-color:        #F0F5FA;
}

[data-md-color-scheme="python-dark"] {
  --md-primary-fg-color:        #316999;
  --md-primary-fg-color--light: #316999;
  --md-primary-fg-color--dark:  #316999;
  --md-accent-fg-color:         #ffda21;
  
  --md-default-bg-color:        #1E2933;
  --md-default-fg-color--light: #4495db;
  --md-typeset-color:           #4495db;
  --md-typeset-a-color:         #4495db;
}

