## Ansible tools
ansible==5.8.0
cffi==1.15.0
# https://github.com/fboender/ansible-cmdb
ansible-cmdb==1.31
# https://github.com/ansible-community/ara
ara==1.5.8
# https://github.com/willthames/ansible-inventory-grapher
ansible-inventory-grapher==2.5.0
# https://github.com/haidaraM/ansible-playbook-grapher
ansible-playbook-grapher==1.1.1
# https://ansible-doctor.geekdocs.de/
ansible-doctor==1.3.3

## Terraform tools
# https://github.com/28mm/blast-radius
blastradius==0.1.23
# https://github.com/antonbabenko/pre-commit-terraform
pre-commit==2.19.0
