[data-md-color-scheme="rust"] {
  --md-primary-fg-color:        #4A4A48;
  --md-primary-fg-color--light: #6E4831;
  --md-primary-fg-color--dark:  #6E4831;
  --md-accent-fg-color:         #6E4831;
}

[data-md-color-scheme="rust-dark"] {
  --md-primary-fg-color:        #57331d;
  --md-primary-fg-color--light: #6E4831;
  --md-primary-fg-color--dark:  #6E4831;
  --md-accent-fg-color:         #CE9178;
  
  --md-default-bg-color:        #1E1E1E;
  --md-default-fg-color--light: #9CDCFE;
  --md-typeset-color:           #9CDCFE;
  --md-typeset-a-color:         #9CDCFE;
}

