[data-md-color-scheme="redis"] {
  --md-primary-fg-color:        #161F31;
  --md-accent-fg-color:         #A32422;

  --md-default-fg-color--light: #003B5C;
  --md-default-bg-color:        #FFFFFF;
  --md-typeset-a-color:         #DC382C;
}

[data-md-color-scheme="redis-dark"] {
  --md-primary-fg-color:        #A32422;
  --md-accent-fg-color:         #A32422;
  
  --md-default-bg-color:        #161F31;
  --md-default-fg-color--light: #9CDCFE;
  --md-typeset-color:           #9CDCFE;
  --md-typeset-a-color:         #FFFFFF;
}

